<footer class="footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <div class="logo-wrap">
        <i class="fa-solid fa-book-open-reader"></i> PageTurn
      </div>
      <p>Your neighbourhood bookshop, online. Discover stories that change the way you see the world.</p>
      <div class="footer-socials">
        <a href="https://www.instagram.com/nikoloz_bocho/" target="_blank" class="social-link" aria-label="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/nikolozi.bochorishvili.18" target="_blank" class="social-link" aria-label="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="social-link" aria-label="Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>

    <div class="footer-col">
      <h4>Shop</h4>
      <ul>
        <li><a routerLink="/shop">All Books</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/returns" fragment="delivery-and-shipping">Shipping Policy</a></li>
        <li><a routerLink="/returns">Returns &amp; Refunds</a></li>
        <li><a routerLink="/privacy">Privacy Policy</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contact</h4>
      <div class="footer-contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>500 Book Street, San Francisco, CA 94158</span>
      </div>
      <div class="footer-contact-item">
        <i class="fa-solid fa-phone"></i>
        <span>+995 555 555 555</span>
      </div>
      <div class="footer-contact-item">
        <i class="fa-solid fa-envelope"></i>
        <span>JonDoe&#64;gmail.com</span>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <span>&copy; {{ year }} PageTurn Books. All rights reserved.</span>
    <span>Crafted with <i class="fa-solid fa-heart"></i> for book lovers</span>
  </div>
</footer>
